body{
    font-family: Arial;
    font-size: 15px;
    height: 100vh;
    /* overflow-y: hidden; */
    /* background: linear-gradient(to bottom right, #a51d45, rgb(126, 21, 196), rgb(89, 63, 207)); */
    background-color: rgb(21, 24, 23);
    color: white;    
    display: flex;
    flex-direction: column;
    align-items:  center;
}
.notif{
    text-align: center;
}
.underline{
    border-bottom: 2px dotted white;
}
.underline2{
    border-bottom: 2px solid white;
}
h1{
    min-width: 750px;
}
.result-container{
    width: 270px;
    text-align: center;
}
.container{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.result-container p {
    font-weight: bold;
    font-size: 20px;
}
.count-btn, .remove-btn{
    margin: 10px 0 0 0;
    min-width: 100px;
    width: 150px;
    padding: 7px 0;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid yellow;
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
}

.form-container input{
    /* background-color: rgba(131, 80, 226, 0.425); */
    border: 2px solid yellow;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-width: 150px;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 2px;
    color: black;
    font-weight: 700;
}
.form-container p {
    font-size: 20px;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sum-container{
    width: 800px;
    /* background-color: rgb(7, 101, 184); */
    height: auto;
    display: flex;
    flex-direction: column;
}
.sum-content p{
    font-size: 20px;
    width: 800px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.sum-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    padding-bottom: 5px;
}
.history{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.calc{
    width: 800px;
    text-align: center;
}
.calc-span{
    font-size: 25px;
    padding: 10px 0 10px 0;
}
